@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply min-h-screen transition-colors duration-300;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  a{
    color: #1d4ed8;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    cursor: pointer;
  }
}
